{% extends "public/templates/layout.html" %}
{% block body %}
<body>
<div class="topnav">
	<a class="active" href="register">{{session['Company']}} ( {{session['year']}} )</a>
	<a href="{{ url_for('Item') }}">Item Master</a>
	<a href="{{ url_for('Tax') }}">Tax Master</a>
	<a href="{{ url_for('Party') }}">Party Master</a>
</div>
<h2 align="center">Party Master</h2>
<div class="container" style="padding-top:1%; padding-left:18.5%;">
		<div style="display:inline-block; box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2); padding:2% 10% 2% 10%">
				<form method="POST" id="partyForm" name="party">
				<dl>
				{{ form.csrf_token }}
				<input type="text" name="name" placeholder="Enter Name" class="form-control" /><br>
        		<textarea rows="3" cols="50" name="disc" placeholder="Enter Address" class="form-control"></textarea><br>
          		<input type="text" name="contact" placeholder="Enter Contact" class="form-control" /><br>
				<input type="text" name="email" placeholder="Enter Email" class="form-control"/><br>
				<input type="text" name="firm_name" placeholder="Enter Firm Name" class="form-control"/><br>
				<input type="text" name="GSTIN" placeholder="Enter GSTIN" class="form-control"/><br>
				<input type="text" name="state" placeholder="Enter State" class="form-control"/><br>
				<input type="text" name="state_code" placeholder="Enter State Code" class="form-control"/><br>
					<div style="text-align:end">
						<input type="submit" class="btn btn-primary" value="Save">
					</div>
				</form>
		</div><br>
</div>
</body>
{% endblock %}